@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body {
  background-color: white;
}

.main {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 992px) {
  .main {
    padding-top: 7.5rem;
    padding-bottom: 5rem;
  }
}
@media (min-width: 1200px) {
  .main {
    padding-top: 12.5rem;
    padding-bottom: 7.5rem;
  }
}

.container {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

*:focus {
  outline: none;
}

body {
  font-family: Nunito;
}

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: black 1px solid;
}
@media (min-width: 992px) {
  .header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .header {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.navbar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.brand {
  max-width: min-content;
  font-weight: 800;
  font-size: 28px;
}
@media (min-width: 768px) {
  .brand {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  .brand {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .brand {
    font-size: 40px;
  }
}

.block {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .block {
    margin-bottom: 1.5rem;
    border-radius: 0.75rem;
  }
}
@media (min-width: 992px) {
  .block {
    margin-bottom: 2.25rem;
    border-radius: 1rem;
  }
}
@media (min-width: 1200px) {
  .block {
    margin-bottom: 2.5rem;
    border-radius: 1.5rem;
  }
}
.block__container {
  padding: 1rem;
}
@media (min-width: 768px) {
  .block__container {
    padding: 1.25rem;
  }
}
@media (min-width: 992px) {
  .block__container {
    padding: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .block__container {
    padding: 2rem;
  }
}
.block__title {
  margin-bottom: 1.25rem;
  font-size: 1rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .block__title {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 992px) {
  .block__title {
    font-size: 1.375rem;
    margin-bottom: 1.75rem;
  }
}
@media (min-width: 1200px) {
  .block__title {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
}
.block__content {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .block__content {
    font-size: 0.875rem;
    row-gap: 1.25rem;
  }
}
@media (min-width: 992px) {
  .block__content {
    font-size: 1.125rem;
  }
}
@media (min-width: 1200px) {
  .block__content {
    font-size: 1.25rem;
    row-gap: 1.5rem;
  }
}

.block-question {
  background-color: #fff2f8;
  border: 1px solid #fdd4e7;
  border-bottom: 3px solid #fdd4e7;
}
@media (min-width: 768px) {
  .block-question {
    border: 2px solid #fdd4e7;
    border-bottom: 5px solid #fdd4e7;
  }
}
@media (min-width: 1200px) {
  .block-question {
    border: 3px solid #fdd4e7;
    border-bottom: 8px solid #fdd4e7;
  }
}

.block-warning {
  background-color: #fef9c8;
  border: 1px solid #ece28c;
  border-bottom: 3px solid #ece28c;
}
@media (min-width: 768px) {
  .block-warning {
    border: 2px solid #ece28c;
    border-bottom: 5px solid #ece28c;
  }
}
@media (min-width: 1200px) {
  .block-warning {
    border: 3px solid #ece28c;
    border-bottom: 8px solid #ece28c;
  }
}

/* general input */
.input {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
}
@media (min-width: 768px) {
  .input {
    padding: 0.75rem;
    border-radius: 0.5rem;
  }
}
@media (min-width: 992px) {
  .input {
    padding: 1rem;
    border-radius: 0.75rem;
  }
}

/* input for question block */
.input-question {
  background-color: #fdd4e7;
  color: #8D5A76;
}
.input-question::placeholder {
  color: #c192aa;
}

.radio-button {
  position: relative;
  display: flex;
  height: 100%;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
}
.radio-button > input[type=radio] {
  visibility: hidden;
  display: none;
}
.radio-button__label {
  position: relative;
  padding: 0.5rem;
  padding-left: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-button__button {
  position: absolute;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border-radius: 100%;
  border: 2px solid #353535;
  pointer-events: none;
}
.radio-button__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background-color: #353535;
  transition: all ease 0.1s;
}
.radio-button > input[type=radio]:checked ~ .radio-button__button::before {
  width: 0.875rem;
  height: 0.875rem;
  transition: all ease 0.1s;
}

.checkbox {
  position: relative;
  display: flex;
  height: 100%;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
}
.checkbox > input[type=checkbox] {
  visibility: hidden;
  display: none;
}
.checkbox__label {
  position: relative;
  padding: 0.5rem;
  padding-left: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox__button {
  position: absolute;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border-radius: 100%;
  border: 2px solid #353535;
  pointer-events: none;
}
.checkbox__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background-color: #353535;
  transition: all ease 0.1s;
}
.checkbox > input[type=checkbox]:checked ~ .checkbox__button::before {
  width: 0.875rem;
  height: 0.875rem;
  transition: all ease 0.1s;
}

/*# sourceMappingURL=style.css.map */
