@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body {
  background-color: white;
}

.main {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 992px) {
  .main {
    padding-top: 7.5rem;
    padding-bottom: 5rem;
  }
}
@media (min-width: 1200px) {
  .main {
    padding-top: 12.5rem;
    padding-bottom: 7.5rem;
  }
}

.container {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

*:focus {
  outline: none;
}

body {
  font-family: Nunito;
}

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: black 1px solid;
}
@media (min-width: 992px) {
  .header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .header {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.navbar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.brand {
  max-width: min-content;
  font-weight: 800;
  font-size: 28px;
}
@media (min-width: 768px) {
  .brand {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  .brand {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .brand {
    font-size: 40px;
  }
}

.block {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
}
@media (min-width: 768px) {
  .block {
    border-radius: 0.75rem;
  }
}
@media (min-width: 992px) {
  .block {
    border-radius: 1rem;
  }
}
@media (min-width: 1200px) {
  .block {
    border-radius: 1.5rem;
  }
}
.block__container {
  padding: 1rem;
}
@media (min-width: 768px) {
  .block__container {
    padding: 1.25rem;
  }
}
@media (min-width: 992px) {
  .block__container {
    padding: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .block__container {
    padding: 2rem;
  }
}
.block__title {
  font-size: 1rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .block__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) {
  .block__title {
    font-size: 1.375rem;
  }
}
@media (min-width: 1200px) {
  .block__title {
    font-size: 1.75rem;
  }
}

.block-question {
  background-color: #fff2f8;
  border: 1px solid #fdd4e7;
  border-bottom: 3px solid #fdd4e7;
}
@media (min-width: 768px) {
  .block-question {
    border: 2px solid #fdd4e7;
    border-bottom: 5px solid #fdd4e7;
  }
}
@media (min-width: 1200px) {
  .block-question {
    border: 3px solid #fdd4e7;
    border-bottom: 8px solid #fdd4e7;
  }
}

.block-warning {
  background-color: #fef9c8;
  border: 1px solid #ece28c;
  border-bottom: 3px solid #ece28c;
}
@media (min-width: 768px) {
  .block-warning {
    border: 2px solid #ece28c;
    border-bottom: 5px solid #ece28c;
  }
}
@media (min-width: 1200px) {
  .block-warning {
    border: 3px solid #ece28c;
    border-bottom: 8px solid #ece28c;
  }
}

/*# sourceMappingURL=style.css.map */
